@import "tailwindcss";

* {
  border: 1px solid red !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #bc9ed9;
  --foreground: #310D51;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Vidaloka,Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'Vidaloka';
  /* src: url('/purple-corner-website/fonts/Vidaloka-Regular.ttf'); */
  src: url('/fonts/Vidaloka-Regular.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}